/* src/Components/BoxAnalysis/BoxAnalysis.css */
.box-analysis-container {
    padding: 10px;
   
  }
  
  .graph-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  
 
  

  .box-analysis-container h2{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-left: 10px;
  }