.dashboard {
    font-family: 'Arial, sans-serif';
  }
  
  .content {
    padding: 20px;
  }
  
  .content h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .content h1 span {
    font-weight: bold;
  }
  
  .box-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .add-new-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #c3ce8b;
    cursor: pointer;
  }
  