.dashboard {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
}

.content {
  padding: 20px;
  
}

.content h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.content h1 span {
  font-weight: bold;
  color: #FDC91E;
}

.box-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.add-new-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000000;
  cursor: pointer;
  background-color: #FDF6E3;
  border: 2px dashed #000000;
  width: 200px;
  height: 250px;
}

.add-new-box img {
  width: 100px; 
  height: 100px;
  margin-bottom: 10px;
}
.add-new-box span {
  font-size: 48px;
}

.add-new-box p {
  margin: 10px 0 0;
}


.content {
  padding: 20px;
}

h1 {
  text-align: center;
}

.box-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.box-analysis-container {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.graph-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.box-analysis-container {
  padding: 10px;
 
}

.graph-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.box-analysis-container h2{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-left: 10px;
}
