.dashboard {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
  min-height: 100vh;
}

.content {
  padding: 20px;
  
}

.content h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.content h1 span {
  font-weight: bold;
  color: black;
}

.box-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.content {
  padding: 20px;
}

.box-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.box-analysis-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  
}

.graph-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.box-analysis-container {
  padding: 10px;
 
}

.graph-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.box-analysis-container h2{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-left: 10px;
}
