.content-hum {
  padding: 30px;
  margin-top: 10px;
  margin-left: 260px;
}

.box-analysis-container-humgraph {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 20px;
}

h2 {
  text-align: left;
  padding-top: 0px;
}
