.content-hum {
  padding: 20px;
  margin-left: 250px;
}

.box-analysis-container-humgraph {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-bottom: 20px;
}

.tempt {
  text-align: left;
  padding-bottom: 15px;
}
