.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  padding: 10px;
  background-color: #fff;
  
}

.logo img {
  height: 60px;
  margin-left: 10px;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.navbar a,
.navbar .sign-out-btn,
.navbar .login-btn {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.navbar .user-name-box {
  border: none;
  background-color: hwb(36 72% 7%);
  color: #000;
  margin-top: 150px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.navbar .sign-out-btn {
  background-color: #000000;
  margin-top: auto;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}
