/* LoginPage.css */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-box {
  background-color: #ffffff;
  margin-top: 7%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;

}

.logo {
  width: 200px;
  
}

.login-box h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  color: #000000;
 text-align: center;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-box input[type="submit"] {
  padding: 10px;
  background-color:#ffc32d;
  color:rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-box input[type="submit"]:hover {
  background-color: #ffc32d;
}

.success {
  color:#ffc32d;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

.login-box p {
  margin-top: 20px;
}

.login-box a {
  color: #000000;
  text-decoration: none;
}

.login-box a:hover {
  text-decoration: underline;
}
.login-box u{
  color: #ffffff;
  font-weight: 550;
}