.general-info-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.general-info-card {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Set to 100% to take the full width of the container */
  height: 150px;
  max-width: 1500px; /* Adjust as needed */
  gap: 20px;
  text-align: center;
}

.general-info-card-01, .general-info-card-02 {
  flex: 1;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.general-info-card-01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px; /* Remove padding to center content */
}

.general-info-card-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.toggle-button {
  padding: 12px 35px; /* Adjust padding for desired button size */
  min-width: 100px; /* Ensure button has a minimum width */
  min-height: 0px; /* Ensure button has a minimum height */
  border: none;
  font-weight: bold;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: rgb(0, 0, 0); /* Text color for better visibility */
}

.toggle-button.on {
  background-color: #FDC91E;
}

.toggle-button.off {
  background-color: gray;
}

.general-name {
  padding-bottom: 15px;
}

.sugar-name {
  padding-bottom: 15px;
}
