.box {
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-right: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.info-boxes-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 18px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


