.graph-card {
    width: 400px; 
    flex: 1 1 calc(40% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: white;
    border-radius: 8px;
    height: 320px;
  }
 
  .graph-stats{
    padding-left: 70px;
   
  }
  .graph-card {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.graph-controls {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.graph-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
