.graph-card {
  width: 100%;
  flex: 1 1 calc(40% - 20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: white;
  border-radius: 8px;
  height: 400px;
  margin-bottom: 20px;
}

.min-max-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.min-card, .max-card {
  background: #f0f0f0;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.min-card p, .max-card p {
  margin: 0;
  font-weight: bold;
}

.min-card h4, .max-card h4 {
  margin: 5px 0 0 0;
  color: #333;
}

.graph-stats {
  padding-left: 70px;
}

.graph-controls {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.graph-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.content {
  padding: 20px;
}

.box-analysis-container {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

h2 {
  text-align: left;
  padding-top: 0px;
}

/* Styling for buttons */
.graph-button {
  background-color: #fffa68; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px; /* Adjusted padding */
  text-align: center;
  text-decoration: none;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  gap: 10px; /* Add space between icon and text */
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 190px; /* Ensure all buttons have the same width */
  height: 40px; /* Ensure all buttons have the same height */
}

/* Styling for button hover state */
button:hover {
  background-color: #fcff60;
}

/* Disabled button styling */
button:disabled {
  background-color: #d3d3d3; /* Light grey */
  color: #a9a9a9; /* Darker grey */
  cursor: not-allowed;
}

/* Container for buttons */
.button-container {
  display: flex;
  justify-content: center;
  gap: 800px; /* Add gap between buttons */
  margin-top: 20px;
}
